/* CSS code for styling the website */

* {
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: Verdana, sans-serif;
  margin: 100px 0 0 0;
  justify-content: center;
  align-items: center;
  
}

.mySlides {
  display: none
}

.mySlides img {
  width: 100%;
  height: 1000px;
  vertical-align: middle;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 0;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 65px;
  padding: 50px 12px;

  background-color: rgba(50, 205, 50, 0.4);
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}





#logo {
  position: relative;
  z-index: 2;
  width: 200px;
  top: 0;
  transition: top 0.3s;
}

.logoText {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 70px;
  left: 30px;
  z-index: 3;
}

.touch {
  padding: 60px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1589496933738-f5c27bc146e3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-repeat: repeat;
  background-attachment: fixed;
}

.touch button {
  justify-content: center;
  margin: auto;
  background-color: white;
  color: black;
  border: none;
  padding: 15px 25px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
}

.touch h1 {
  font-size: 100px;
  color: white;

}

.services button {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 300px;
  right: 200px;
}

button:hover {
  background-color: limegreen;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer p {
  text-align: center;
}

.contactFooter {
  font-size: 30px;
  padding: 25px;
  display: none;
}

.learnMore {
  display: grid;
  grid-template-columns: 300px 500px;
  justify-content: end;
  width: 75%;
  margin: auto;
  padding: 150px;
}

.learnMoreInner {
  margin: auto;
  text-align: center;

}

#video {
  height: 400px;
  width: 400px;
  background-color: rgb(97, 97, 97);
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.learnMoreInner h2 {
  display: inline;
  float: none;
}

.mainPic img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

body {
  font-family: 'Poppins', Calibri, Tahoma, sans-serif;

}

.main {
  padding: 150px;
  width: 75%;
  margin: auto;
}

#serviceHeader {
  font-size: 60px;
  width: 75%;
  margin: auto;
  padding-top: 150px;
  text-align: center;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto auto;
  padding: 150px;
  justify-content: end;
  gap: 50px;
}

.serviceGrid button {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
}

.serviceGrid h2 {
  font-size: 22;
}

.serviceGrid img {
  width: 50px;
}

.serviceGrid {
  margin: auto;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Poppins', Calibri, Tahoma, sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactInfo button {
  background-color: green;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
}

.contact {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  justify-content: end;
  gap: 50px;
  width: 75%;
  font-family: 'Poppins', Calibri, Tahoma, sans-serif;
  font-size: 18px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.contact h1 {
  line-height: 0.1;
}

.faq {
  padding: 150px;
  margin: auto;
  width: 75%;
}

.faq h1 {
  font-size: 75px;
}

.faqAns {
  display: none;
}


header {
  background-color:
    white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 200px;
}

header .wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;

}

ul > li {
  display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: green;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (min-width: 550px) {
  .contactFooterMobile {
    display: block;
    font-size: 24px;
  }
}

@media screen and (min-width: 550px) {
  .contactFooter {
    display: block;
  }
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav ul {
    display: none;
  }

  .topnav .icon {
    position: absolute;
    right: 10px;
    top: 60px;
    display: block;
  }



  .topnav.responsive {
    position: relative;
    height: 500px;
    text-align: right;
    font-size: 24px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 10px;
    top: 60px;
  }
  .topnav.responsive ul {
  
    display: block;
    top: 200;
    left: 0;
    right: 0;
    position: relative;
  }

  .topnav.responsive li {
    display: block;
  }


  .headerNav.responsive {
    height: 90vh;
  }

  #logo {
    position: absolute;
    z-index: 2;
    width: 200px;
    top: 0;
    left: -10px;
    transition: top 0.3s;
  }

  .logoText {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 3;
  }

  .learnMore {
    display: block;
    grid-template-columns: auto;
    width: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }

  .learnMoreInner {
    display: block;
    margin: auto;
  }

  #video {
    height: 300px;
    width: 300px;
    background-color: rgb(97, 97, 97);
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
  }

  .touch h1 {
    font-size: 75px;
  }

  .mainPic img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

  .servicesGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    margin: auto;
  }

  .serviceGrid {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
  }

  .main {
    padding: 10px;
    width: 90%;
    margin: auto;
  }

  .contact {
    grid-template-columns: auto;
    justify-content: end;
    padding: 40px;
    width: 90%;
  }

  .contactInfo {
    margin: auto;
  }

  .faq {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
  }

  .faq h1 {
    font-size: 50px;
  }

  header {
    padding: 0 15px 0 15px;
  }
}